.App {
  max-width: 650px;
  margin: 0 auto;
}

.App .title {
  text-align: center;
}

.App .quiz-maker-container {
  margin-top: 28px;
}

.quiz-questions-container {
  margin-top: 40px;
}

.quiz-answers-container {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.create-new-quiz-container {
  margin-top: 24px;
  text-align: center;
}
